<%= form_with model: @question, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-control mb-10">
    <%= f.label :title, class: 'font-bold' %>
    <%= f.text_field :title, class: 'input input-accent' %>
  </div>
  <div class="form-control mb-10">
    <%= f.label :image, class: 'font-bold' %>
    <%= f.file_field :image, class: 'file-input file-input-bordered file-input-accent w-full max-w-xs' %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div class="form-control mb-10">
    <%= f.label :url, class: 'font-bold' %>
    <%= f.text_field :url, class: 'input input-accent', placeholder: (t 'defaults.url') %>
  </div>
  <div class="form-control mb-10">
    <%= f.label :sentence, class: 'font-bold' %>
    <%= f.text_area :sentence, class: 'input input-accent' %>
  </div>
  <div class="form-control mb-10">
    <%= f.fields_for :choices do |choice| %>
      <%= render 'choice_fields', :f => choice %>
    <% end %>
  </div>
  <div class="form-control mb-10">
    <%= link_to_add_association t('activerecord.attributes.question.increase'), f, :choices, class: 'link link-accent font-bold my-5 ' %>
  </div>
  <div class="form-control mb-10">
    <%= f.label :organization, class: 'font-bold' %>
    <%= f.fields_for :organization do |i| %>
      <%= i.select :organization_id, [["新日", 1], ["全日", 2], ["ノア", 3], ["ドラゲー", 4], ["ZERO1", 5], ["大日", 6], ["DDT", 7], ["FREEDOMS", 8], ["GLEAT", 9], ["W-1", 10], ["みちのく", 11], 
                                  ["スターダム", 12], ["東京女子", 13], ["OZ", 14], ["アイスリボン", 15], ["WAVE", 16], ["PURE-J", 17], ["マーベラス", 18], ["我闘雲舞", 19], ["アクトレスガールズ", 20],
                                  ["その他", 21]], prompt: "団体を選択してください", class: "form-control" %>
    <% end %>
  </div>
  <p class="text-sm text-end">*必須項目</p>
  <%= f.submit class: 'btn btn-block btn-secondary mt-10 mb-20 lg:mb-10' %>
<% end %>