<% content_for(:title, @question.sentence) %>
<div class="bg-stone-100 p-4 m-4">
  <%= link_to "＜クイズ一覧", questions_path, class: 'font-bold text-2xl text-blue-500' %>
  <div class="py-6 sm:py-8 lg:py-12">
    <h2 class="text-accent-content text-2xl lg:text-3xl font-bold text-center text-red-500 text-5xl animate-text-shadow-drop-center"><%= @question.title %></h2>
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <div class="flex justify-center h-96 md:space-x-20">
        <% if @question.image.present? && @question.url.present? %>
          <%= image_tag @question.image_url %>
          <iframe width="500" height="390" src="https://www.youtube.com/embed/<%= @question.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <% elsif @question.image.present? %>
          <%= image_tag @question.image_url %>
        <% elsif @question.url.present? %>
          <iframe width="500" height="390" src="https://www.youtube.com/embed/<%= @question.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <% elsif %>
          <h2 class="text-accent-content text-5xl font-bold text-center text-black text-5xl my-auto"><%= @question.sentence %></h2>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <% if @question.image.present? || @question.url.present? %>
      <p class="text-accent text-center md:text-2xl font-bold md:m-auto"><%= @question.sentence %></p>
    <% end %>
    <% if @question.hint.present? %>
    <div x-data="{ reportsOpen: false }">
    <div class='w-full max-w-lg px-10 py-8 mx-auto'>
            <div @click="reportsOpen = !reportsOpen" class='flex items-center text-gray-600 w-full border-b overflow-hidden mt-32 md:mt-0 mb-5 mx-auto'>
            <div class='w-10 border-r px-2 transform transition duration-300 ease-in-out' :class="{'rotate-90': reportsOpen,' -translate-y-0.0': !reportsOpen }">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
            </svg>          
            </div>
            <div class='flex items-center px-2 py-3'>
            <div class='mx-3'>
                <button class="hover:underline font-bold">ヒント</button>
            </div>
            </div>
            </div>

            <div class="flex p-5 md:p-0 w-full transform transition duration-300 ease-in-out border-b pb-10"
            x-cloak x-show="reportsOpen" x-collapse x-collapse.duration.500ms >
            <p class="text-center md:text-2xl font-bold md:m-auto"><%= @question.hint %></p>
            </div>
        </div>
    </div>
    </div>
    <% else %>
      <p class="text-center md:text-2xl font-bold md:m-auto">ヒントはありません</p>
    <% end %>
    <div class="text-center pt-16">
      <div class="md:space-x-20">
        <% @question.choices.each do |choice| %>
          <%= link_to choice.body, question_result_path(@question, selected_choice_id: choice.id), method: :patch, class: "btn" %> 
        <% end %>
      </div>
    </div>
    <div class="text-center space-x-32 pt-16">
      <% if @question.user == current_user %>
        <button class="btn btn-secondary md:text-lg"><%= link_to (t 'defaults.question_edit'), edit_question_path %></button>
        <button class="btn btn-accent md:text-base"><%= link_to (t 'defaults.delete'), question_path(@question), data: { turbo_method: :delete, turbo_confirm: t('defaults.message.delete_confirm') } %></button>
      <% end %>
      <%= render partial: 'twitter', locals: { question: @question } %>
    </div>
  </div>
</div>