<% set_meta_tags description: @question.sentence %>
<div class="bg-stone-100 p-4 m-4">
  <%= link_to "＜クイズ一覧", questions_path, class: 'font-bold text-2xl text-blue-500' %>
  <div class="py-6 sm:py-8 lg:py-12">
    <h2 class="text-accent-content text-2xl lg:text-3xl font-bold text-center text-red-500 text-5xl"><%= @question.title %></h2>
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <div class="flex justify-center h-96 md:space-x-20">
        <% if @question.image.present? && @question.url.present? %>
          <%= image_tag @question.image_url %>
          <iframe width="500" height="390" src="https://www.youtube.com/embed/<%= @question.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <% elsif @question.image.present? %>
          <%= image_tag @question.image_url %>
        <% elsif @question.url.present? %>
          <iframe width="500" height="390" src="https://www.youtube.com/embed/<%= @question.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <% elsif %>
          <h2 class="text-accent-content text-5xl font-bold text-center text-black text-5xl my-auto"><%= @question.sentence %></h2>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <% if @question.image.present? || @question.url.present? %>
      <p class="text-accent text-center md:text-2xl font-bold md:m-auto"><%= @question.sentence %></p>
    <% end %>
    <div class="text-center pt-16">
      <div class="md:space-x-20">
        <% @question.choices.each do |choice| %>
          <%= link_to choice.body, question_result_path(@question, selected_choice_id: choice.id), method: :patch, class: "btn" %> 
        <% end %>
      </div>
    </div>
    <div class="text-center space-x-32 pt-16">
      <% if @question.user == current_user %>
        <button class="btn btn-secondary md:text-lg"><%= link_to (t 'defaults.question_edit'), edit_question_path %></button>
        <button class="btn btn-accent md:text-base"><%= link_to (t 'defaults.delete'), question_path(@question), data: { turbo_method: :delete, turbo_confirm: t('defaults.message.delete_confirm') } %></button>
      <% end %>
    </div>
  </div>
</div>