<% content_for(:title, @question.title) %>
<div class="bg-stone-100 p-4 m-4">
  <div class="py-6 sm:py-8 lg:py-12">
    <h2 class="text-accent-content text-2xl lg:text-3xl font-bold text-center text-red-500 text-5xl"><%= @question.title %></h2>
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <div class="flex justify-center h-96 md:space-x-20">
        <% if @question.image.present? && @question.url.present? %>
          <%= image_tag @question.image_url %>
          <iframe width="500" height="390" src="https://www.youtube.com/embed/<%= @question.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <% else %>
          <h2 class="text-accent-content text-5xl font-bold text-center text-black text-5xl my-auto">画像・動画なし</h2>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <p class="text-accent text-center md:text-2xl font-bold md:m-auto"><%= @question.sentence %></p>
    <div class="text-center pt-16">
      <div class="md:space-x-20">
        <% @question.choices.each do |choice| %>
          <% if choice.correct_answer == "correct" %>
            <%= link_to choice.body, question_correct_result_path(@question), class: "btn" %> 
          <% else %>
            <%= link_to choice.body, question_wrong_result_path(@question), class: "btn" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="text-center space-x-32 pt-16">
      <% if @question.user == current_user %>
        <button class="btn btn-secondary md:text-lg"><%= link_to (t 'defaults.question_edit'), edit_question_path %></button>
        <button class="btn btn-accent md:text-base"><%= link_to (t 'defaults.delete'), question_path(@question), data: { turbo_method: :delete, turbo_confirm: t('defaults.message.delete_confirm') } %></button>
      <% end %>
    </div>
  </div>
</div>