<tr id="comment-<%= comment.id %>">
  <td style="width: 60px">
    <%= image_tag comment.user.avatar_url, class: 'rounded-circle', size: '50x50' %>
  </td>
  <td>
    <h3 class="small"><%= comment.user.name %></h3>
    <div>
      <%= simple_format(comment.body) %>
    </div>
  </td>

  <% if comment.user == current_user %>
    <td class="action">
      <ul class="list-inline justify-content-center" style="float: right;">
        <li class="list-inline-item">
          <%= link_to (t 'defaults.delete'), comment_path(comment), data: { turbo_method: :delete, turbo_confirm: t('defaults.message.delete_confirm') } %>
        </li>
      </ul>
    </td>
  <% end %>
</tr>