<%= form_with model: @chat_group, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-control mb-10">
    <%= f.label :group_name, class: 'form-control' %>
    <%= f.text_field :group_name, class: 'input input-accent' %>
  </div>
  <div class="form-control mb-10">
    <%= f.label :group_description, class: 'form-control' %>
    <%= f.text_area :group_description, class: 'input input-accent' %>
  </div>
  <div class="form-control mb-10">
    <%= f.label :image, class: 'form-control' %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div>
    <%= f.collection_check_boxes :user_ids, User.all, :id, :name %>
  </div>
  <%= f.submit "作成", class: 'btn btn-block btn-primary mt-10 mb-20 lg:mb-10' %>
<% end %>