<%= form_with model: @chat_group, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-control mb-10">
    <%= f.label :group_name, class: 'font-bold' %>
    <%= f.text_field :group_name, class: 'input input-accent' %>
  </div>
  <div class="form-control mb-10">
    <%= f.label :group_description, class: 'font-bold' %>
    <%= f.text_area :group_description, class: 'input input-accent' %>
  </div>
  <div class="form-control mb-10">
    <%= f.label :image, class: 'font-bold' %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <p class="text-sm text-end">*必須項目</p>
  <%= f.submit class: 'btn btn-block btn-secondary mt-10 mb-20 lg:mb-10' %>
<% end %>