<% set_meta_tags title: @chat_group.group_name %>
<div class="navbar bg-slate-600 text-accent-content">
  <div class="navbar-start font-bold text-2xl">
    <h1 class="font-bold text-3xl flex flex-wrap"><%= link_to "＜チャット一覧", chat_groups_path %></h1>
  </div>
  <div class="navbar-end font-bold text-3xl flex justify-center mr-24">
    <%= @chat_group.group_name %>
  </div>
  <div class="navbar-end font-bold text-3xl space-x-6">
    <% if @chat_group.owner_id == current_user.id %>
      <%= link_to t('.edit'), edit_chat_group_path(@chat_group) %>
      <%= link_to t('.delete'), chat_group_path(@chat_group), data: { turbo_method: :delete, turbo_confirm: t('defaults.message.delete_confirm') } %>
    <% end %>
    <% if @chat_group.users.include?(current_user) %>
      <%= link_to t('.leave'), chat_group_leave_path(@chat_group), data: { turbo_method: :delete, turbo_confirm: t('.leave?') } %>
    <% else %>
      <%= link_to t('.join'), chat_group_join_path(@chat_group) %>
    <% end %>
  </div>
</div>
<div id="messages" data-chat_group_id="<%= @chat_group.id %>">
  <% if @messages.present? %>
    <div class="pt-10">
      <%= render @messages %>
    </div>
  <% else %>
    <h2 class="font-bold text-center text-5xl m-40">チャットがまだありません...</h2>
  <% end %>
</div>

<% if @chat_group.users.include?(current_user) %>
    <div class="border-t-2 border-gray-200 px-4 pt-4 mb-2 sm:mb-0">
      <div class="relative flex">
        <div class="w-full focus:outline-none focus:placeholder-gray-400 text-gray-600 placeholder-gray-600 pl-12 bg-gray-200 rounded-md py-3">
        <form>
          <input type="text" data-behavior="chat_group_speaker">
        </form>
        </div>
      </div>
    </div>
<% end %>

