<h1><%= @chat_group.group_name %></h1>
<div id="messages">
  <%= render @chat_group.messages %>
</div>

<%= form_with(model: [@chat_group, @chat_group.messages.build], remote: true) do |f| %>
  <%= f.text_field :body %>
  <%= f.submit "Send" %>
<% end %>

