<header>
  <div class="navbar bg-accent text-accent-content">
    <div class="navbar-start">
      <%= link_to t('defaults.prowrest-numarasu'), root_path, class: "btn btn-accent" %>
    </div>
    <div class="navbar-end">
      <div class="dropdown dropdown-hover dropdown-end">
        <div class="btn btn-ghost normal-case rounded-full">
          <%= image_tag current_user.avatar_url, size: '50x50', class: "rounded-full" %>
        </div>
        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
          <li class="btn btn-secondary">
            <div class="dropdown-item"><%= current_user.name %></div>
          </li>
          <li>
            <%= link_to t('defaults.logout'), logout_path, data: { turbo_method: :delete }, class: "btn btn-accent" %>
            <%= link_to t('defaults.new'), new_post_path, class: "btn btn-accent" %>
            <%= link_to t('defaults.question_new'), new_question_path, class: "btn btn-accent" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>