<% content_for(:title, @post.title) %>
<div class="bg-stone-100 p-4 m-4">
  <div class="py-6 sm:py-8 lg:py-12">
    <h2 class="text-accent-content text-2xl lg:text-3xl font-bold text-center text-red-500 text-5xl"><%= t '.title' %></h2>
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <div class="card max-w-xl border rounded-xl mx-auto">
        <% if @post.image.present? && @post.url.present? %>
          <%= image_tag @post.image_url %>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @post.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <% elsif @post.image.present? %>
          <%= image_tag @post.image_url %>
        <% elsif @post.url.present? %>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @post.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <% end %>
        <div class="card-body text-accent-content">
          <h2 class="text-accent md:text-3xl font-bold md:m-auto"><%= @post.title %></h2>
          <div class="text-accent md:text-xl font-bold md:flex">
            <%= image_tag @post.user.avatar_url, size: '30x30', class: "rounded-full" %>
            <%= @post.user.name %>
          </div>
          <p class="text-accent md:text-xl font-bold md:pt-5"><%= @post.body %></p>
          <div class="pt-20">
            <%= render @post.tags %>
          </div>
          <p class="flex justify-end mb-4 text-accent text-accent-focus md:text-lg font-bold"><%= I18n.l(@post.created_at, format: :long) %></p>
          <div class="flex gap-8 justify-end">
            <%= render 'like', post: @post %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center space-x-32">
    <% if @post.user == current_user %>
      <button class="btn btn-secondary md:text-xl"><%= link_to (t 'defaults.edit'), edit_post_path %></button>
      <button class="btn btn-accent md:text-xl"><%= link_to (t 'defaults.delete'), post_path(@post), data: { turbo_method: :delete, turbo_confirm: t('defaults.message.delete_confirm') } %></button>
    <% end %>
  </div>
  <% if @comment.user = current_user %>
    <div class="text-accent-content text-2xl lg:text-3xl font-bold text-center text-red-500 text-5xl md:pt-12">
      <%= t '.comment' %>
    </div>
    <div class="pt-12">
     <%= render 'comments/form', { post: @post, comment: @comment } %>
    </div>
  <% end %>
    <%= render 'comments/comments', { comments: @comments } %>
</div>